ul {
  margin: 0;
  padding: 0;
}

.footer-section {
  background: #2b3134;
  position: relative;
}

.footer-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8dac0;
}

.single-cta {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.single-cta i {
  color: #2e4b5f;
  font-size: 30px;
  margin-right: 10px;
}

.cta-text h4 {
  color: #ced8e2;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.cta-text span {
  color: #e8dac0;
  font-size: 15px;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center; 
}

.footer-logo img {
  max-width: 120px; 
  display: block;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #e8dac0;
  line-height: 28px;
  text-align:justify ;
  padding-left: 10px;
  padding-right: 20px;
}

.footer-social-icon span {
  color: #ced8e2;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  padding-left: 20px;
}

.footer-social-icon a {
  color: #ced8e2;
  font-size: 16px;
  margin-right: 30px;
  padding-left: 20px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  margin-bottom: 20px; 
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #ced8e2;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #2e4b5f;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #2e4b5f !important;
}

.footer-widget ul li a {
  color: #e8dac0;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
  padding-left: 10px;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #c5dbd3;
  border: 1px solid #2E2E2E;
  color: #2e4b5f;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #2e4b5f;
  padding: 13px 20px;
  border: 1px solid #2e4b5f;
  top: 0;
}

.subscribe-form button i {
  color: #ced8e2;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #3f697e;
  padding: 25px 0;
  padding-left: 5px;
}

.copyright-text {
  margin: 0;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 5px; 
}

.copyright-text p {
  font-size: 14px;
  color: #ced8e2;
  margin-bottom: 10px; 
}

.copyright-text a {
  color: #c2a782;
  margin-left: 20px;
  font-size: 14px;
  transition: color 0.3s ease; 
}

.copyright-text p a:hover {
  color: #a9825f;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.col-footer-info,
.col-footer-links,
.col-footer-subscribe {
  padding: 10px;
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}
