<div class="w-full bg-stone-200 p-4 rounded-lg drop-shadow-2xl">
    <!-- Contenido principal -->
    <div class="w-full bg-stone-200 p-4 ">
        <div class="flex flex-row items-center py-4 border-b border-gray-400 space-x-4 peer-first:l-2">
            <img src="../../../assets/images/dashboard/icons8-habitaciones.png" class="w-[40px] h-[40px] pl-2">
            <h1 class="text-3xl">Habitaciones</h1>
        </div>
        <div class="flex justify-between pb-4 py-4">
            <button (click)="crearHabitacion()"
                class="bg-green-500 text-black px-4 py-2 rounded hover:bg-green-600">Crear</button>
            <input class="border border-gray-300 px-4 py-2 pl-5 rounded w-full" type="text" placeholder="Buscar...">
            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Buscar</button>
        </div>
        <div>
            <table class="border-collapse border border-gray-400 w-full">
                <thead>
                    <tr class="bg-gray-50">
                        <th class="border border-gray-400 px-4 py-2">ID</th>
                        <th class="border border-gray-400 px-4 py-2">Tipo</th>
                        <th class="border border-gray-400 px-4 py-2">Número</th>
                        <th class="border border-gray-400 px-4 py-2">Descripción</th>
                        <th class="border border-gray-400 px-4 py-2">Estado</th>
                        <th class="border border-gray-400 px-4 py-2">Precio</th>
                        <th class="border border-gray-400 px-4 py-2">Estado Aseo</th>
                        <th class="border border-gray-400 px-4 py-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let habitacion of habitaciones" class="bg-gray-100">
                        <td class="border border-gray-400 px-4 py-2">{{ habitacion.id_habitacion }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ habitacion.tipo_habitacion }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ habitacion.numero_habitacion }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ habitacion.descripcion_habitacion }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ habitacion.status_habitacion }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ habitacion.precio_habitacion | currency }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ habitacion.estado_aseo }}</td>
                        <td class="border border-gray-400 px-4 py-2">
                            <div class="flex flex-row justify-evenly">
                                <button class="bg-blue-400 rounded-xl p-1">
                                    <img src="../../../assets/images/bookmark.png" alt="Detalle"
                                        class="w-[36px] h-[36px]">
                                </button>
                                <button class="bg-green-400 rounded-xl p-1">
                                    <img src="../../../assets/images/edit.png" alt="Editar" class="w-[36px] h-[36px]">
                                </button>
                                <button class="bg-red-400 rounded-xl p-1">
                                    <img src="../../../assets/images/eliminar.png" alt="Eliminar"
                                        class="w-[36px] h-[36px]">
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Paginación -->
        <hr class="bg-black h-[2px] mt-4 mb-2">
        <div class="flex flex-row-reverse">
            <button class="bg-stone-400 hover:bg-stone-500 text-black hover:text-white text-xl rounded p-1 mx-2 mr-4">>></button>
            <button class="bg-stone-400 hover:bg-stone-500 text-black hover:text-white text-xl rounded border border-black px-3">3</button>
            <button class="bg-stone-400 hover:bg-stone-500 text-black hover:text-white text-xl rounded border border-black px-3">2</button>
            <button class="bg-stone-400 hover:bg-stone-500 text-black hover:text-white text-xl rounded border border-black px-3">1</button>
            <button class="bg-stone-400 hover:bg-stone-500 text-black hover:text-white text-xl rounded p-1 mx-2"><<</button>
        </div>
        <hr class="bg-black h-[2px] mt-1 mb-2">
    </div>

    <!-- Modal Crear Oculto por Defecto -->
    <div *ngIf="!crearOculto" id="modal" class="fixed inset-0 flex items-center justify-center w-full z-50">
        <div class="modal-overlay absolute w-screen h-screen bg-gray-900 opacity-50"></div>
        <div class="modal bg-stone-200 w-12/12  rounded shadow-lg z-50 overflow-y-auto">
            <div class="modal-content py-4 text-left px-6 flex flex-col">
                <div class="modal-header flex flex-row items-center">
                    <h3 class="text-lg font-semibold">Crear Nueva Habitación</h3>
                    <button (click)="cerrarModal()" id="closeModal"
                        class="modal-close my-3 ml-auto top-0 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                        X
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="enviarFormularioHabitacion()" class="space-y-4">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div>
                                <label for="tipo_habitacion" class="block text-gray-700">Tipo de Habitación</label>
                                <select id="tipo_habitacion" [(ngModel)]="habitacion.habitacion_tipo" name="tipo_habitacion" required
                                    class="border border-gray-300 px-4 py-2 rounded w-full">
                                    <option *ngFor="let tipo of tipos_habitacion" [value]="tipo.nombre">{{ tipo.nombre }}</option>
                                </select>
                            </div>
                            <div>
                                <label for="numero_habitacion" class="block text-gray-700">Número de Habitación</label>
                                <input id="numero_habitacion" type="number" [(ngModel)]="habitacion.numero_habitacion" name="numero_habitacion" required
                                    class="border border-gray-300 px-4 py-2 rounded w-full">
                            </div>
                            <div>
                                <label for="capacidad_personas" class="block text-gray-700">Capacidad Personas</label>
                                <input id="capacidad_personas" type="number" [(ngModel)]="habitacion.capacidad_habitacion" name="capacidad_personas" required
                                    class="border border-gray-300 px-4 py-2 rounded w-full">
                            </div>
                            <div>
                                <label for="descripcion_habitacion" class="block text-gray-700">Descripción</label>
                                <input id="descripcion_habitacion" type="text" [(ngModel)]="habitacion.descripcion_habitacion" name="descripcion_habitacion" required
                                    class="border border-gray-300 px-4 py-2 rounded w-full">
                            </div>
                            <div>
                                <label for="status_habitacion" class="block text-gray-700">Estado</label>
                                <select id="status_habitacion" [(ngModel)]="habitacion.status_habitacion" name="status_habitacion" required
                                    class="border border-gray-300 px-4 py-2 rounded w-full">
                                    <option value="disponible">Disponible</option>
                                    <option value="ocupada">Ocupada</option>
                                </select>
                            </div>
                            <div>
                                <label for="precio_habitacion" class="block text-gray-700">Precio</label>
                                <input id="precio_habitacion" type="number" [(ngModel)]="habitacion.precio_habitacion" name="precio_habitacion" required
                                    class="border border-gray-300 px-4 py-2 rounded w-full">
                            </div>
                            <div>
                                <label for="estado_aseo" class="block text-gray-700">Estado de Aseo</label>
                                <select id="estado_aseo" [(ngModel)]="habitacion.estado_aseo" name="estado_aseo" required
                                    class="border border-gray-300 px-4 py-2 rounded w-full">
                                    <option value="limpia">Limpia</option>
                                    <option value="sucia">Sucia</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer flex justify-end">
                    <button (click)="cerrarModal()"
                        class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-semibold py-2 px-4 rounded mr-2">
                        Cancelar
                    </button>
                    <button (click)="enviarFormularioHabitacion()"
                        class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
                        Crear
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="sinHabitaciones" class="flex items-center justify-center w-full h-full bg-gray-100 p-4">
        <div class="text-center bg-white p-8 rounded-lg shadow-lg">
          <p class="text-2xl font-semibold text-gray-700"> No se han agregado habitaciones</p> 
        </div>
    </div>

</div>
