<!-- <p>topbar works!</p> -->
<div class=" bg-gray-700  flex justify-between items-center">
    <div>
        <img src="../../../assets/images/Logo-proyecto(1).png" class="w-[70px] h-[70px]">
    </div>
    <h1 class="text-xl font-semibold text-center flex-grow">Recepcionista - Hotel JS Real</h1>
    <div class="flex space-x-4">
        <!-- <button class="hover:text-blue-500">
  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M15 12a3 3 0 11-6 0 3 3 0 016 0zM9 10a5 5 0 0110 0v2a5 5 0 01-10 0v-2z"></path>
  </svg>
</button> -->
        <button class="hover:text-red-500">
            <!-- <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg> -->
            <a href="../index.html">
                <img src="../../../assets/images/dashboard/icons8-salir.png" alt=" imagen para salir del dashboard"
                    class=" h-12 w-12">
            </a>
        </button>
    </div>

</div>